GEMINI_API_KEY=
CHROMA_DIR=./data/chroma_db
COLLECTION_NAME=lung_rag
EMBED_URL=https://generativelanguage.googleapis.com/v1beta/models/gemini-embedding-001:embedContent
GEN_URL=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent