.env
venv/
__pycache__/
*.py[cod]
.pytest_cache/
.vscode/
.idea/

# Large model files
app/models/*.h5
app/models/*.keras
app/models/*.pth
app/models/*.bin
# Data
data/chroma_db/

# Frontend
frontend-nextjs/.next/
frontend-nextjs/node_modules/
frontend-nextjs/.env
frontend-nextjs/out/